:root {
    --link-color: #2196f3;
    --title-color: #212121;
    --main-text-color: #757575;
  }
  
  /* Body */
  body {
    font-family: "Roboto", sans-serif;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  /* header */
  header {
  }
  
  .header__logo {
    color: var(--link-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .header__logo--color {
    color: #000;
  }
  
  .header__nav {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  
  .header__nav__item:hover {
    color: var(--link-color);
  }
  
  .header__contacts__list {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header__contacts__link:hover {
    color: var(--link-color);
  }
  
  /* footer */
  footer {
    background: #2f303a;
  }
  
  .footer__logo {
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .footer__logo__color {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .footer__item__map {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
  
  .footer__item__email {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
  
  .footer__item__tel {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
  
  /* Main webstudio*/
  .section {
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
  
    background: #2f303a;
  }
  
  .section__titele {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
  
  .section__button {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
  }
  
  /* advantages */
  
  .advantages__item__title {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .advantages__item__text {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
  
  /* works */
  
  .section__works__title {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  
  .works__item {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
  }
  
  /* team */
  
  .section__team__titel {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  
  .team__item__img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
  }
  
  .team__item__title {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  
  .team__item__text {
    color: #757575;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }
  
  /*main portfolio  */
  .portfolio__list__button {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: 0.48px;
  }
  
  .portfolio__item__button:hover {
    color: #fff;
  }
  
  .portfolio__img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
  }
  .portfolio__titele {
    color: #212121;
    font-family: "Roboto", sans-serif;
      font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
  }
  .portfolio__text {
    color: #757575;
    font-family: "Roboto", sans-serif;
      font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
  }